<!--
    Defines the structure of any page in the Blazor app. It is like the Master template
    and we can define multiple ones if we want.
-->
@inherits LayoutComponentBase

    <div class="d-flex" id="wrapper">

        <!--
            This is a menu that is on the left of the app.
        -->
        <NavMenu></NavMenu>

        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light border-bottom">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <h3 class="title">Bethany's Pie Shop HRM </h3>
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">

                <!--
                    This is the body placeholder. This will be replaced with the actual
                    content of our component. The components we have seen running are
                    located on the Pages folder.
                -->
                @Body
            </div>
        </div>

    </div>
